<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Application Name=KnockoutJs;Data Source=.\sql2016;Initial Catalog=NORTHWND;Integrated Security=True;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <!--<add name="KnockoutSamplesContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=KnockoutSamplesContext-20130822070031; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|KnockoutSamplesContext-20130822070031.mdf"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="KnockoutSamplesContext" connectionString="Data Source=.\sql2016; Initial Catalog=NORTHWND; Integrated Security=True; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <add name="KnockoutSamplesContext" connectionString="Application Name=KnockoutJs;Data Source=.\sql2016;Initial Catalog=NORTHWND;Integrated Security=True;Connection Timeout=120" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>